<style>
    .m-5 {
        padding: 5px;
    }
    
    .img-box {
        border: 1px solid lightgrey;
        margin: 0 auto;
        height: 300px !important;
        width: 400px !important;
    }
</style>
<div class="container" style="padding: 15px">
    <br><br>
    <h3>Compare an uploaded image with a took picture to determine if they are form the same person.</h3>
    <div class="row">
        <div class="col-sm-6 m-5 text-center">
            <input id="image1" type="file" fileread="ctrl.image1" ng-enabled="ctrl.enable" accept="image/*" ng-hide="true">
            <div class="img-responsive img-box" av-image-fit='{{ctrl.image1 || ctrl.dummy}}' av-size='400px,300px'></div>
            <div class="col m-5 text-center">
                <label for="image1" class="btn btn-primary">Upload</label>
            </div>
        </div>
        <div class="col-sm-6 m-5 text-center">
            <div ng-hide="ctrl.calledCam">
                <div class="img-responsive img-box" av-image-fit='{{ctrl.image2 || ctrl.dummy}}' av-size='400px,300px'></div>
                <div class="col m-5 text-center">
                    <button class="btn btn-primary" ng-click="ctrl.switch()">Open Webcam</button>
                </div>
            </div>
            <ng-camera ng-show="ctrl.calledCam" snapshot="ctrl.image2" notifier="switch"></ng-camera>
        </div>
    </div>
    <div class="col text-center">
        <button class="btn btn-success" ng-click="ctrl.verify()">Verify Images</button>
    </div>
</div>